.imput-search{
    position: fixed;
    z-index: 10;
    margin-top: -25px;
    padding: 5px;
    background: #0113291f;
    width: calc(100%*0.3333);
    color: #4d6179;
    font-size: 25px;
    text-align: center;
}
@media (max-width: 991) {
    .imput-search {
        position: fixed;
        z-index: 100000;
        margin-top: 160px;
        top: 0px;
        padding: 5px;
        background: #0113291f;
        width: 100%;
        color: #4d6179;
        font-size: 25px;
        text-align: center;
    }     
}

.search-input{
        border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #0113291f;
    outline: 0px;
    width: 86%;
    margin-right: 4%;
    font-size: 23px;
    background: #01132900;
    padding: 5px 5px;
    float: right;
    color: #495a6f;
}