.goochat-content-list{
    height: 100vh;
    overflow: hidden;
}
.Goochat{
	font-family: 'Roboto';
}

.Info-menu{
	padding: 3px 0px;
	position: relative;
	color: #707e8a;
	z-index: 5;
	background: #ededed;
}
.Info-menu h3{
	margin: 0;
	padding: 0;
	text-align: center;
}
/*
 * 	Bloques
 */

#goochat-contact{
    position: relative;
    padding: 25px 0 0 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    padding-bottom: 210px;
    background: #d9e1e4;
}


/*a partie del ancho de 892 escondemos la parte de mensajes y mostramos solo el menu*/

@media (max-width: 992px){
	#chatMessage{
		display: none;
	}
	.imput-search{
		width: 100%;
	}
}




@media (width: 992px ){
	#goochat-menu{
    	width: 100% !important;
	}
	#chatMessage{
		width: 100% !important;	
	}


}