.goochat-content-list{
    height: 100vh;
    overflow: hidden;
}
.Goochat{
	font-family: 'Roboto';
}

.Info-menu{
	padding: 3px 0px;
	position: relative;
	color: #707e8a;
	z-index: 5;
	background: #ededed;
}
.Info-menu h3{
	margin: 0;
	padding: 0;
	text-align: center;
}
/*
 * 	Bloques
 */

#goochat-contact{
	padding-left: 0px;
	padding-right: 0px;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	background: #d9e1e4;
	top: 0px;
	bottom: 50px;
	padding-top: 178px;
}



@media (max-width: 992px){
	#chatMessage{
		display: none;
	}
	.imput-search{
		width: 100%;
	}
	#infoItem{
		position: fixed !important;
	}
}




@media (width: 992px ){
	#goochat-menu{
    	width: 100% !important;
	}
	#chatMessage{
		width: 100% !important;	
	}
	
	#infoItem{
		position: fixed !important;
	}

}