.info-img{
	width: 45px;
	height: 45px;
	border-radius:50% 50%;
	float: right;
	margin-left: 3px;
}
.name{
	color:#46515f;
}

.online{
	color: #01d300;margin-right:5px;font-size: 13px;
}
.onlineOf{
	color: #707070;margin-right:5px !important;font-size: 13px !important;
}