.message-input{
   position: fixed;
   bottom: 0px;
   left: 0px;
   right: 0px;
   padding-left: 2%;
   margin-right: calc(100%*0.25); 
}


@media (max-width: 991px) {
  .message-input{
	   margin-right: calc(100%*0.01); 
   }

}

@media (max-width: 483px){
	.message-input{
		margin-right: calc(100%*0.07);   
   	}

}